.App {
  text-align: center;
}


.container
{

  background: rgb(0,212,255);
background: linear-gradient(155deg, rgba(0,212,255,1) 0%, rgba(2,9,87,0.8114035087719298) 19%, rgba(3,3,113,0.7697368421052632) 39%, rgba(3,2,83,1) 58%, rgba(2,0,36,0.9166666666666666) 97%);


}
